.App {
  margin: 20px;
  text-align: center;
}

.App-header {
  padding: 0 30px;
  min-height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 20px;
}

.form input {
  margin-bottom: 10px;
}